.vscode/
build/
log/
install/
*.log
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
*.idea/
*.iml
model_tuning/**
!model_tuning/extract_training_data.py
!model_tuning/evaluate_mppi_bag_replay.py
!model_tuning/real_car_v2/
!model_tuning/real_car_v2/**
!model_tuning/effective_history/
!model_tuning/effective_history/**
!model_tuning/trash/
!model_tuning/trash/**
model_tuning_utils/tiv_collision_vesc_p_focus3x/history.csv
model_tuning_utils/__pycache__/**
model_tuning_utils/all_bags_tuned_lstm_finetune/**.json

config/ifac2026_dynamic_imu_recursive.bin
config/ifac2026_kinematic_mlp_residual.bin
config/ifac2026_kinematic_noimu_direct_speed.bin
model_tuning/real_car_v2/__pycache__/**.pyc
# model_tuning/real_car_v2/__pycache__/contract.cpython-310.pyc
# model_tuning/real_car_v2/__pycache__/contract.cpython-313.pyc
# model_tuning/real_car_v2/__pycache__/evaluate_dynamic_40ms.cpython-313.pyc
# model_tuning/real_car_v2/__pycache__/finetune_dynamic_40ms_recursive.cpython-310.pyc
# model_tuning/real_car_v2/__pycache__/train_dynamic_40ms.cpython-310.pyc
scripts/__pycache__/**.pyc

vesc/
__pycache__/
*.pyc
f1tenth_gym_ros/
